.main{
    margin: 10px;
    padding: 10px;
    background-color: khaki;
}

a{
    margin: 3px;
    padding: 8px;
    border: 2px solid navy;
    border-top-right-radius: 20px;
    /* border-radius: 10px; */
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
}
.nav{
    margin-bottom: 20px;
}